<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hus_lazada_demo">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HUS_LAZADA_DEMO"
        tools:replace="android:theme">
        <activity android:name=".User.HistoryActivity" />
        <activity android:name=".User.CommentActivity" />
        <activity android:name=".User.ResetPasswordActivity" />
        <activity android:name=".Admin.AdminMaintainProductActivity" />
        <activity android:name=".User.SearchProductsActivity" />
        <activity android:name=".Admin.AdminUserProductsActivity" />
        <activity android:name=".Admin.AdminNewOrdersActivity" />
        <activity android:name=".User.ComfirmFinalOrderActivity" />
        <activity
            android:name=".User.CartActivity"
            android:theme="@style/Theme.HUS_LAZADA_DEMO" />
        <activity android:name=".User.ProductDetailsActivity" />
        <activity android:name=".User.SettinsActivity" />
        <activity
            android:name=".User.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.HUS_LAZADA_DEMO" />
        <activity android:name=".Admin.AdminAddNewProductActivity" />
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".User.LoginActivity" />
        <activity android:name=".User.RegisterActivity" />
        <activity android:name=".User.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>